@import 'style-helpers';
@import './_variables';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');

html,
body,
#app {
  font: $base-font-weight $base-font-size $base-font-family;
  line-height: $base-line-height;
  font-kerning: normal;
  height: 100%;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: var(--brand-color);
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);

  &:hover {
    box-shadow: 0 0 0 0.2rem var(--light-color);
    background-color: var(--hover-color);
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem var(--light-color);
    background-color: var(--hover-color);
  }
}

.text-muted {
  color: var(--text-muted-color);
}

.bg-color {
  background-color: var(--primary-color);
}

.bg-color-light {
  background-color: var(--second-color);
}

.data-container {
  background-color: var(--primary-color);
  font-size: 14px;
  border-radius: 8px;
  padding: 1rem;

  &__label {
    color: var(--text-muted-color);
  }
}

.badge {
  background-color: var(--second-color);

  &-white {
    background-color: var(--dark-brand-color);
    color: white;
  }
}
